@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #83EAF1, #63A4FF);
}

.calculator {
    background: white;
    width: 600px;
    border-radius: 12px;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.calculator-display h1 {
    font-size: 45px;
    margin: 0;
    padding: 25px;
    overflow: hidden;
}

.calculator-button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    height: 400px;
}

.equal {
    grid-column: -2;
    grid-row: 2 / span 4;
}

button {
    min-height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: rgb(199, 199, 199);
}

button:hover {
    filter: brightness(110%);
}

button:active {
    transform: translateY(2px);
}

.operator {
    background: linear-gradient(107deg, rgb(255, 67, 5) 11.1%, rgb(245, 135, 0) 95.3%);
    color: white;
    font-size: 30px;
}

.clear-btn {
    color: red;
    font-weight: 700;
}

.btn {
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .calculator {
        width: 450px;
    }

    .calculator-button {
        height: 350px;
    }

}

@media screen and (max-width: 450px) {
    .calculator {
        width: 320px;
    }

    button {
        min-height: 40px;
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .calculator {
        width: 270px;
    }
}